.features{
    max-width: 100%;
    width: 100%;
    padding: 20px 20px;
    background-color: rgb(0, 0, 0);
    padding-bottom: 3rem;
}

.features__container{

    max-width: 100%;
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    text-align: center;
}

.features__title{
    padding-top: 3rem;
    text-align: center;
    margin: 0 auto;
 
    line-height: 1.5rem;
    color: var(--primary-color);
}




.features__bold{
    font-size: 2rem;
    color: var(--primary-color);
    font-family: "Bebas Neue", sans-serif;
}

.features__description{
    padding: 1rem 1rem;
}

.features__item{
    padding: 1rem;
    border-color: var(--primary-color);
    border-style: double;
    border-radius: 12px;
    color: var(--secondary-color);
}

.features__item p{
    font-family: "Montserrat", sans-serif;
    font-size: 0.7rem;
}

.features__title-text{
    padding-top: 50px;
    padding-bottom: 1rem;
    color: var(--primary-color);
    
}

.features__cards{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.features__card{
    background-color: rgb(24, 24, 24);
    padding: 1rem;
    border-radius: 10px;
    border-color: var(--primary-color);
    border-style: double;
    
}

.features__card-img{
    padding: 0.5rem;
}

.features__description-text{
    color: var(--secondary-color);
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
}

.features__card-title{
    color: var(--primary-color);
    

}

.features__card-description{
    color: var(--secondary-color);
    font-family: "Montserrat", sans-serif;
    font-size: 0.7rem;
    margin-top: 1rem;
}

.features__card-bold{
    color: var(--primary-color);
    margin-top: 1rem;
}

.low{
    font-size: 2rem;
}


@media (min-width: 768px){

    .features{
       
    }
    
    .features__title{
        font-size: 3rem;
        line-height: 3rem;
        margin: 0 auto;
        padding: 5rem 0 0 2rem;
        text-align: center;
    }
}

@media (min-width: 1024px){
    .features{
        
        text-align: center;
        padding: 100px 0 ;
        margin: 0 auto;
    }

    .features__container{
        width: 100%;
        max-width: 80%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        justify-content: center;
        margin: 0 auto;
        gap: 1rem;
        
        
    }

    .features__title {
        grid-column: 1 / -1;
        max-width: 1000px;
        margin: 0 auto; 
        padding: 0; 
    }

    .features__item{
       padding: 1.5rem;
       width: 20rem;
       cursor: pointer;
    }

    .features__bold{
        font-size: 4rem;
    }

        .features__title-text{
        max-width: 80%;
        margin: 0 auto;
    }

    .features__title-text h3{
        font-size: 3rem;
    }

    .features__cards{
        max-width: 80%;
        margin: 0 auto;
    }

    .features__card{
        font-size: 2rem;
    }

    .features__card-img{
        width: 3rem;
    }

    .features__description-text{
        font-size: 1rem;
    }

    .features__card-description{
        font-size: 1rem;
    }

    .features__item p{
        font-family: "Bebas Neue", sans-serif;
    }

    .features__img{
        display: none;
    }



    .features__item:hover{
        transform: translateY(-3px); /* Sube ligeramente */
  box-shadow: 0 12px 24px rgb(255, 94, 0); /* Sombra difuminada y elegante */
  border-color: #d1d5db; /* Sutil cambio en el borde */
        
    }

    .features__item p{
        font-size: 1.5rem;
    }
}