.header{
    
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    background-image: linear-gradient(rgba(0, 0, 0, 0.651), rgb(0, 0, 0)),
    url(../assets/img/panobianco-gym-574x1024.webp);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.header__logo{
  
    width: 15rem;
    display: block;
    margin: 0 auto;
    padding: 2rem;
    
}



.header__container{
    min-height: 60vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;

}

.header__title{
    color: var(--primary-color);
    line-height: 27px;
    font-size: 1.5rem;
}

.header___description{
color: var(--secondary-color);
line-height: 15px;
}

.header___description-bold{
font-size: 1.1rem;
color: var(--secondary-color);
font-weight: 500;
padding: 1rem 0 0 0.5rem;
margin: 0 auto;
}

.header__button{
    background: none;
    padding: 0.3rem;
    border-radius: 5px;
    border-style: double;
    color: var(--primary-color);
    border-color: var(--primary-color);
    font-family: "Bebas Neue", sans-serif;
    cursor: pointer;
}

@media (min-width: 768px){
    .header__logo{
        width: 30rem;
        position: relative;
        top: 20px;
        right: 20px

    }

    .header__title{
        max-width: 80%;
        margin: 0 auto;
        font-size: 4.5rem;
        line-height: 4rem;
    }

    .header___description{
        max-width: 80%;
        margin: 0 auto;
        font-size: 1.9rem;
        line-height: 2rem;
    }

    .header___description-bold{
        font-weight: 500;
        font-size: 2.5rem;
    }

    .header__button{
        padding: 1.5rem;
        width: 80%;
        margin: 0 auto;
        font-size: 2rem;
    }
}

@media (min-width: 1024px){
    .header{
        width: 100%;
        min-height: 100vh;
        background-image: linear-gradient(to right, rgba(0,0,0,0.8),rgba(0,0,0,0)),
        url(../assets/img/Hero\ Desktop.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center; 
    }

    .header__container{
        gap: 40px;
    }

    .header__logo{
        width: 15rem;
        margin: 0;
        
    }

    .header__title{
        width: 50%;
        margin: 0;
        text-align: left;
        font-size: 5rem;
    }

    .header___description{
        margin: 0;
        text-align: left;
        width: 50%;
        font-size: 1.5rem;
    }

    .header___description-bold{
        font-size: 2rem;
        font-weight: 500;
        margin: 0;
        text-align: left;
        padding: 0;
    }

    .header__button{
        padding: 1rem;
        margin: 0;
        width: 30%;
    }
}